/* Your custom CSS code */
* {
    box-sizing: border-box;
}

@keyframes jelly {

    0%,
    100% {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(0.9, 1.1);
    }

    50% {
        transform: scale(1.1, 0.9);
    }

    75% {
        transform: scale(0.95, 1.05);
    }
}

.search-product {
    position: relative;
    display: flex;
    border: 1px solid #674aee;
    border-radius: 5px;
    margin-bottom: 20px;
}

.search-product .search-label {
    position: absolute;
    top: -12px;
    left: 10px;
    background-color: #fff !important;
    padding: 0px 7px;
}

.search-product input {
    height: 25px;
    background-color: #fff !important
}

.box {
    background-color: #0000ff;
    width: 300px;
    height: 300px;
}

.create-user-form {
    border: 1px solid #ddd;
    box-shadow: 5px 10px 10px #ddd;
}

.create-user-form input {
    border: 1px solid red;
}

.create-user-form button {
    width: 150px;
    padding: 10px 20px;
    border: 1px solid red;
    border-radius: 300px;
    z-index: 1;
    font-size: inherit;
    font-family: inherit;
    color: white;
    padding: 0.5em 1em;
    outline: none;
    border: none;
    background-color: #674aee;
}

.create-user-form button:hover {
    cursor: pointer;
    animation: jelly 0.5s;
}


.order-detail {
    width: 100%;
    border: 1px solid #ddd;
    box-shadow: 5px 5px 10px #ddd;
    padding: 2rem;
}

.order-detail .order-status{
    color: #fff;
    background-color: #ffa500;
    border-radius: 5px;
    padding: 5px 10px;
    display: inline-block;
}

.order-detail h3{
    display: block;
    text-align: center;
}

.order-detail h3,
.order-detail h5{
    text-transform: uppercase;
    color: #aaa;
}

.order-detail .order-table{
    width: 100%;
    margin-bottom: 3rem;
}

.order-detail .order-table-head{
    border-bottom: 2px solid #ddd;
}

.order-detail .order-table-body{
    border-bottom: 3px solid #ccc;
}

.order-detail .order-table-body tr{
    line-height: 2rem;
    border-bottom: 1px solid #ddd;
}

.order-detail .total-price{
    float: right;
}