<!DOCTYPE html>
<html lang="en">

<head>
    <title>Table V04</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="table-style/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="table-style/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="table-style/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="table-style/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="table-style/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="table-style/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="table-style/css/util.css">
    <link rel="stylesheet" type="text/css" href="table-style/css/main.css">
    <!--===============================================================================================-->
</head>

<body>

    <div class="table100 ver1 m-b-110">
        <div class="table100-head">
            <table>
                <thead>
                    <tr class="row100 head">
                        <th class="cell100 column10">Account ID</th>
                        <th class="cell100 column15">Username</th>
                        <th class="cell100 column15">Accountname</th>
                        <th class="cell100 column10">Role</th>
                        <th class="cell100 column20">Email</th>
                        <th class="cell100 column15">Phone number</th>
                        <th class="cell100 column15">Address</th>
                    </tr>
                </thead>
            </table>
        </div>

        <div class="table100-body js-pscroll">
            <table>
                <tbody>
                    <tr class="row100 body">
                        <td class="cell100 column10">100192712</td>
                        <td class="cell100 column15">Nguyễn Văn A</td>
                        <td class="cell100 column15">nguyenvana3321</td>
                        <td class="cell100 column10">User</td>
                        <td class="cell100 column20">nguyenvana1927@gmail.com</td>
                        <td class="cell100 column10">09172541812</td>
                        <td class="cell100 column20">123, Phạm Ngũ Lão, Q.5, TP.HCM</td>
                    </tr>
                    <tr class="row100 body">
                        <td class="cell100 column10">100192713</td>
                        <td class="cell100 column15">Nguyễn Văn B</td>
                        <td class="cell100 column15">nguyenvanb3321</td>
                        <td class="cell100 column10">User</td>
                        <td class="cell100 column20">nguyenvanb321@gmail.com</td>
                        <td class="cell100 column10">09172541711</td>
                        <td class="cell100 column20">123, Điện Biên Phủ, Q.Bình Thạnh, TP.HCM</td>
                    </tr>
                    <tr class="row100 body">
                        <td class="cell100 column10">100192714</td>
                        <td class="cell100 column15">Nguyễn Thị Bưởi</td>
                        <td class="cell100 column15">nguyenthibuoi</td>
                        <td class="cell100 column10">Admin</td>
                        <td class="cell100 column20">nguyenthibuoi11@gmail.com</td>
                        <td class="cell100 column10">09172123812</td>
                        <td class="cell100 column20">213, Phạm Ngũ Lão, Quận 5, TP.HCM</td>
                    </tr>
                


                </tbody>
            </table>
        </div>
    </div>
</body>