<!DOCTYPE html>
<html lang="en">

<head>
    <title>Table V04</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="widtd=device-widtd, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="table-style/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="table-style/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="table-style/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="table-style/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="table-style/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="table-style/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="table-style/css/util.css">
    <link rel="stylesheet" type="text/css" href="table-style/css/main.css">
    <!--===============================================================================================-->
</head>

<body>

    <div class="table100 ver1 m-b-110">
        <div class="table100-head">
            <table>
                <thead>
                    <tr class="row100 head">
                        <th class="cell100 column20">Product ID</th>
                        <th class="cell100 column15">User ID</th>
                        <th class="cell100 column15">Status</th>
                        <th class="cell100 column15">Created date</th>
                        <th class="cell100 column15">Pay method</th>
                        <th class="cell100 column20">Address</th>
                    </tr>
                </thead>
            </table>
        </div>

        <div class="table100-body js-pscroll">
            <table>
                <tbody>
                    <tr class="row100 body">
                        <td class="cell100 column20">BBAA1212</td>
                        <td class="cell100 column15">100192712</td>
                        <td class="cell100 column15">Completed</td>
                        <td class="cell100 column15">10/11/2021</td>
                        <td class="cell100 column15">Visa</td>
                        <td class="cell100 column20">123, Phạm Ngũ Lão, Q.5, TP.HCM</td>
                    </tr>
                    <tr class="row100 body">
                        <td class="cell100 column20">BBAA1230</td>
                        <td class="cell100 column15">100192712</td>
                        <td class="cell100 column15">Shipping</td>
                        <td class="cell100 column15">15/11/2021</td>
                        <td class="cell100 column15">Visa</td>
                        <td class="cell100 column20">123, Phạm Ngũ Lão, Q.5, TP.HCM</td>
                    </tr>
                    <tr class="row100 body">
                        <td class="cell100 column20">BBAA1240</td>
                        <td class="cell100 column15">100192712</td>
                        <td class="cell100 column15">Shipping</td>
                        <td class="cell100 column15">15/11/2021</td>
                        <td class="cell100 column15">Visa</td>
                        <td class="cell100 column20">123, Phạm Ngũ Lão, Q.5, TP.HCM</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>