<!DOCTYPE html>
<html lang="en">

<head>
    <title>Table V04</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="table-style/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="table-style/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="table-style/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="table-style/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="table-style/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="table-style/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="table-style/css/util.css">
    <link rel="stylesheet" type="text/css" href="table-style/css/main.css">
    <!--===============================================================================================-->
</head>

<body>

    <div class="table100 ver1 m-b-110">
        <div class="table100-head">
            <table>
                <thead>
                    <tr class="row100 head">
                        <th class="cell100 column20">Product ID</th>
                        <th class="cell100 column20">Name</th>
                        <th class="cell100 column20">Price</th>
                        <th class="cell100 column20">Quantity</th>
                        <th class="cell100 column20">Gender</th>
                    </tr>
                </thead>
            </table>
        </div>

        <div class="table100-body js-pscroll">
            <table>
                <tbody>
                    <tr class="row100 body">
                        <td class="cell100 column20">SE1211</td>
                        <td class="cell100 column20">Nike/td>
                        <td class="cell100 column20">299$</td>
                        <td class="cell100 column20">5</td>
                        <td class="cell100 column20">Male/Female</td>
                    </tr>
                    <tr class="row100 body">
                        <td class="cell100 column20">AB1231</td>
                        <td class="cell100 column20">Adidas</td>
                        <td class="cell100 column20">199$</td>
                        <td class="cell100 column20">9</td>
                        <td class="cell100 column20">Male</td>
                    </tr>
                    <tr class="row100 body">
                        <td class="cell100 column20">AA7765</td>
                        <td class="cell100 column20">Biti's</td>
                        <td class="cell100 column20">99$</td>
                        <td class="cell100 column20">15</td>
                        <td class="cell100 column20">Female</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>