<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="public/table-style/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="public/table-style/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="public/table-style/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="public/table-style/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="public/table-style/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="public/table-style/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="public/table-style/css/util.css">
    <link rel="stylesheet" type="text/css" href="public/product-style/css/productdetail.css">
    <title>Product detail</title>
</head>
<body>
    <div class="container wrapper">
            <div class="col-md-12 row">

                <div class="col-md-6">
                    <img src="https://chicos.vn/wp-content/uploads/2019/07/9535199410_1885848294.jpg" alt="image" class="img-fluid">
                </div>
                <div class="col-md-6">
                    <h2 class="text-primary mb-2">Awesome Plastic Tuna</h2>
                    <h4 class="product-brand mb-4">Brand</h4>
                    <p class="product-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Parictio, aperiam, ratione dolore.
                        <br>Ex numquam veritatis debitis minima quo error quam eos dolorum quidem perferendis. Quos repellat dignissimos minus, eveniet nam voluptatibus molestias omnis reiciendis perspiciatis illu</p>
                    <h4 class="product-price mt-3">$50.00</h4>
                    <h4 class="product-SKU mt-2">SKU: 1745152612</h4>
                    <h4 class="product-tag mt-2">Tag</h4>
                    <h4 class="product-category mt-2">Category</h4>
                    <div class="product-detail mt-2">
                        <table class="col-md-12 detail-table" id="detail-table">
                            <thead class="col-5">
                                <tr class="row">
                                    <th class="col-5">Size</th>
                                    <th class="col-5">Quantity</th>
                                </tr>
                            </thead>
                            <tbody class="detail-value">
                                <tr class="row">
                                    <td class="col-5">5</td>
                                    <td class="col-5">10</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

    </div>
</body>
</html>