<!DOCTYPE html>
<html lang="en">

<head>
    <title>Table V04</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="table-style/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="table-style/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="table-style/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="table-style/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="table-style/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="table-style/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="table-style/css/util.css">
    <link rel="stylesheet" type="text/css" href="table-style/css/main.css">
    <!--===============================================================================================-->
</head>

<body>
    <div class="col-md-12">
        <div class="row">
            <div class="col-12">
                <h2 class="page-title">Product List</h2>
                <a href="#" class="btn btn-text-secondary float-right">CREATE A NEW PRODUCT</a>
            </div>
        </div>
        <div class="row mb-5">
            <%- include('_show')%>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="page-index">
                    <ul>
                        <li><a href="#"><</a></li>
                        <li class="active"><a href="#"><span>1</span></a></li>
                        <li><a href="#"><span>2</span></a></li>
                        <li><a href="#"><span>3</span></a></li>
                        <li><a href="#"><span>4</span></a></li>
                        <li><a href="#"><span>5</span></a></li>
                        <li><a href="#"><span>></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>