<!--body-->
<div class="col-md-12">
    <div class="row">
        <div class="col-12">
            <h2 class="page-title">Product List</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <form class="search-product" action="/products/search" method="GET">
                <label class="search-label" for="search-form">Search</label>
                <input type="search" id="search-form" class="" name="search"/>
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>
        <div class="col-md-5">
            <a href="/products/create" class="btn btn-text-secondary float-right">CREATE A NEW
                PRODUCT</a>
        </div>
    </div>
    <div class="row mb-5">
        <%- include('_show')%>
    </div>
    <%- include('../partials/pagination')%>
</div>
</div>
<!--/body-->